*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font */
body{
    font-family: 'Roboto', sans-serif;
    color: #636363;
font-weight: 400px;
line-height: 1.6;
}
.container{
    margin: auto;
    max-width: 1200px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* start header */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content nav {
    display: flex;
    align-items: center;
}
.header__content nav ul{
    display: flex;
    list-style: none;
    color: black;
    margin-right: 30px;
}
.header__content li{
    font-size: 15px;
    padding: 55px 15px
}
.header__content a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.header__content i{
    font-size: 9px;
    margin-top: -3px;
    vertical-align: middle;
}
.header__content span{
    display: inline-block;
}
.header__content a:hover{
    color: #f55f8d;
}
.header__content a:hover span{
    animation: upToDown 0.3s;
}
.btn-gradient{
   padding: 20px 35px;
   font-size: 15px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: white;
    border: none;
    border-radius: 30px;
    transition: 0.5s;}
.btn-gradient:hover{
    background-position: right center;
}
/* end header */

/* start banner */

.banner{
    background-image: url(../Samar/pic2.png);
    padding-top: 180px;
    background-size: 100%;
    background-position: top;
}
.banner__content{
    display: flex;
    align-items: center;
}
.banner__left{
    width: 60%;
}
.title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.title h2{
    font-size: 70px;
line-height: 1.1;
font-weight: 800;
color: #262626;
margin-bottom: 20px;
}
.banner .content p{
font-size: 18px;
margin-bottom: 15px;
}
.banner .content li{
    list-style: none;
    padding: 10px 0px;
    font-size: 20px;
}
.content ul{
    margin-bottom: 20px;
}
.content i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    color: white;
    font-size: 24px;
    background-size: 200%;
    margin-right: 10px;
}
.banner__right{
    width: 40%;
}
.banner__right .img{
margin-left: 50px;
width: 570px;
}
.banner__right img{
    max-width: 100%;
    display: block;
}


/* end banner */

/* start sevice */
.padding-top{
    padding-top: 115px;
}
.service{
    text-align: center;
    background-image: url(../Samar/bg2.png);
    background-size: cover;
    background-position: top center;
}
.serviece__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}
.service__item{
    border-radius: 6px;
    background: white;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    transition: 0.5s;
}
.service__item:hover{
    transform: translateY(-20px);
}
.service__item img{
    max-width: 215px;
}
.service__item h3{
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0px;
}
/* end service */
/* start about */
.about{
    background-image: url(../Samar/bg15.png);
    background-size: 100%;
    background-position: center right;
    padding-bottom: 85px;
    background-repeat: no-repeat;
}
.about__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.about__left{
    position: absolute;
    left: -17%;
    width: 60%;
}
.about__left img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.about__right{
    width: 50%;
}
.about__right p{
    margin-bottom: 15px;
}
.about__right ul{
    margin-bottom: 30px;
}
.about__right i{
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}
/* end about */

/* start number */
.number{
    background-image: url(../Samar/bg14.png);
    padding: 80px 0px 50px;
    background-position: center;
    text-align: center;
}
.number__content{
    display: flex;
    justify-content: space-around;
}
.number__item i{
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: white;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}
.number__item p:first-of-type{
    font-size: 65px;
    color: #f55f8d;
    line-height: 1;
    font-weight: 800;
}
.number__item p:last-of-type{
    font-size: 18px;
    color: #262626;
}

/* end number */
/* start feature */
.feature{
    background-image: url(../Samar/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.feature__content{
    display: flex;
}
.feature__left, .feature__right{
    width: 50%;
}
.feature__item{
    padding: 0 50px 30px 0;
}
.feature__item:nth-of-type(2){
    padding: 0 0 30px 50px;
}
.feature__bg{
    display: flex;
    align-items: center;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.feature__bg::after{
    content: "";
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}

.feature__item i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: 1s;
}
.feature__bg div{
    padding-left: 25px;
    z-index: 1;
    transition: 1s;
}
.feature__item h3{
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: 1s;
}
.feature__bg:hover::after{
    opacity: 1;
}
.feature__item:hover i,.feature__item:hover h3,.feature__item:hover div{
    color: white;
}
.feature__img{
    margin-right: -80px;
}
.feature__img img{
    max-width: 100%;
    animation: move2 5s infinite;
}
/* end feature */
/* start porfolio */
.porfolio{
    text-align: center;
    background-image: url(../Samar/bg17.png);
    background-size: cover;
    background-position: top center;
}
.porfolio__content{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}
.porfolio__item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.porfolio__item::before{
    content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.porfolio__item:hover::before{
    left: 125%;
}
.porfolio__item img{
    width: 100%;
    height: 100%;
}
.porfolio__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: all .75s;
}
.porfolio__bg:hover{
    opacity: 1;
}
.porfolio__icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s;
}
.porfolio__icon a{
    cursor: pointer;
}
.porfolio__item:hover .porfolio__icon{
    transform: translate(0);
}
.porfolio__text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all .75s;
}
.porfolio__item:hover .porfolio__text{
    transform: translateY(0);
}
.porfolio__text h3 {
    font-size: 22px;
    font-weight: 800;
    color: #fff;}
.porfolio__text p {
    color: #fff;
    opacity: .7;
}
.porfolio__item1{
    grid-column: 1/span 2;
}
.porfolio__item5{
    grid-column: 1/span 2;
}
.porfolio__item6 {
    grid-column: 3/4;
    grid-row: 2/4;
}
/* end porfolio */
/* start plan */
.plan{
    text-align: center  ;
    background-image: url(../Samar/bg16.png);
    background-size: cover;
    background-position: center;
}
.plan__list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}
.plan__item{
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-image: round 100 ;
    transition: all .5s;
}
.plan__item:hover{
    border-image: url(../Samar/br.png) 1 round;
}
.plan__item h3{
    font-weight: 700;
    color: #262626;
    font-size: 2rem;
}
.plan__item img{
    width: 125px;
}
.plan__item p{
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}
.plan__item span{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
.plan__item ul{
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
}
.plan__item li{
    font-size: 18px;
    color: #262626;
    font-weight: 400;
    padding: 5px 0;
}
.plan__item i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 50%;
    margin-right: 15px;
}
/* end plan */

/* start testimonial */
.testimonial {
  text-align: center;
  background-image: url(../Samar/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.testimonial-text i{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}
.testimonial-name{
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}
.testimonial-position{
    font-size: 15px;
    color: #f55f8d;
    margin-bottom: 20px;
    padding: 0;
}
.testimonial-text p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
}
.swiper-pagination-bullet-active{
    background: #f55f8d;
}
.testimonial-pic .shape-bx{
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}
.testimonial-pic .shape-bx::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../Samar/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;

}
.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1;
}
.testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}
.testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}
.testimonial-pic::after, .testimonial-pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.swiper-slide-thumb-active .testimonial-pic::after, .swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}
/* end testimonial */

/* start blog */
.blog{
    background-image: url(../Samar/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}
.blog__item{
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
}
.blog__header {
    position: relative;
}
.blog__header img{
    width: 100%;
    border-radius: 8px;
}
.blog__header p {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}
.blog__body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.blog__body h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}
.blog__footer{
    display: flex;
    align-items: center;
    padding: 15px;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05);
}
.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
.blog__footer p:first-of-type {
    margin-right: 20px;
}
.blog__footer p:first-of-type span {
    color: #f55f8d;
}

.owl-nav, .owl-dots{
    display: none;
}
/* end blog */
/* start footer */
footer {
    background-image: url(../Samar/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}
footer::before {
    content: "";
    background-image: url(../Samar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer__top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer__form, .footer__text {
    width: 50%;
}
.footer__text h2 {
    font-size: 28px;
    color: #262626;
}
.footer__form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
}
.footer__form input:focus, .footer__form input:hover {
    border-color: #f55f8d;
}
.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}
.footer__bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}
.footer__item {
    width: 25%;
}
.footer__item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}
.footer__item li {
    padding: 0.5rem 0;
}
.footer__item i {
    font-weight: 700;
    margin-right: 10px;
}
.footer__contact li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.footer__contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}
.footer__item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}
.footer__item h3::after, .footer__item h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer__item h3::before {
    width: 15px;
}
.footer__item h3::after {
    width: 45px;
    left: 20px;
}
.footer__copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}
.footer__content {
    display: flex;
    justify-content: space-between;
}
.footer__left span {
    color: #f55f8d;
}
.footer__copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
}
.footer__copyright a:hover {
    background: #f55f8d;
}
/* end footer */
/* backtotop */

.ToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}


@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }
  @keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px,2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px,-2px)
    }

    100% {
        transform: rotate(1deg) translate(2px,2px)
    }
}